.header__section {
    background-image: url("https://media.istockphoto.com/id/1354982067/es/vector/cielo-estrellado-fondo-nocturno-negro-con-estrella-espacio-de-galaxia-estrellada-textura-de.jpg?s=612x612&w=0&k=20&c=hXBS72dkHQbFKqu5MYZfnd41ZNxisgnvCVqffoXfqgs=");
    background-size: cover;

    img {
        display: block;
        margin: 0 auto;   
        width: 500px;
    }    

    h1 {
        color: #894646;
        font-family: "Anton SC",Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 25px;
        margin-top: -70px;
        margin-bottom: 0;
        text-shadow: 2px 2px 2px white;
    }
}

